<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MsSqlForestEntities"
			 connectionString="metadata=res://*/ModelDB.csdl|
			 res://*/ModelDB.ssdl|
			 res://*/ModelDB.msl;
			 provider=System.Data.SqlClient;
			 provider connection string=
			 &quot;data source=DESKTOP-INQOVAO;initial catalog=FAATestDB;trusted_connection=true;
			 App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>
		<add name="BD_AIS_POLEntities" connectionString="metadata=res://*/ModelAISPOL.csdl|res://*/ModelAISPOL.ssdl|res://*/ModelAISPOL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\AB\Source\Repos\ExcelParser\AppointActivities.WPF\DB\v3\newbd.mdf;Integrated Security=True;Connect Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>